*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Mukta', sans-serif;
}

                                    /* toaster styles */
                                    #toast{
                                        position: fixed;
                                        display: block;
                                        top: 0;
                                        width: 100%;
                                        max-height: 40vh;
                                        overflow-y: scroll;
                                        overflow-x: hidden;
                                        overflow-wrap: break-word;
                                        z-index: 1000;
                                    }
                                    #toast p{
                                        transition: 500ms;
                                        width: 100%;
                                        margin-bottom: 5px;
                                        text-align: center;
                                        font-family: monospace;
                                        font-weight: 700;
                                        background-color: #000000;
                                    }
                                    #toast .log{
                                        color: #25ff42;
                                        border-bottom: 2px solid #19b626;
                                        padding: 10px;
                                        font-size: larger;
                                    }
                                    #toast .error{
                                        color: #ff2c25;
                                        border-bottom: 2px solid #c71313;
                                        font-size: large;
                                    }
                                        #toast .error span:first-child{
                                            font-family: monospace;
                                            display: inline-block;
                                            width: calc(100% - 50px);
                                            padding: 10px 0 10px 10px;
                                        }
                                        #toast .error span:last-child{
                                            display: inline-block;
                                            background-color: #b81d1d;
                                            color: #d3b1b1;
                                            width: 50px;
                                            height: 100%;
                                            padding: 10px 0;
                                            border-radius: 10px 0 0 0;
                                            font-size: larger;
                                            cursor: pointer;
                                        }
                                   
/* splash screen styles */
.splash{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg,  #5a5a5a, #392e46);
    z-index: 210;
}
    .splash-container{
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .splash-container h2{
            font-size: 3em;
            color: #00ff95;
            text-shadow: -2px 2px #000;
        }
        .splash-container a:any-link{
            font-size: larger;
            font-weight: 900;
            font-family: monospace;
            color: #000000;
            text-decoration: none;
        }


/* fab */
.fab{
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 200;
    text-align: right;
}
    .fab_switcher{
        float: right;
        width: 60px;
        height: 60px;
        margin: 0 30px 30px 0;
        background-color: #4791ff;
        border: 1px solid #fff;
        box-shadow: -5px 5px 5px #141414;
        border-radius: 50%;
        cursor: pointer;
        font-size: 1.6em;
    }
    .fab_elms{
        padding: 0 30px 0 0;
        display: none;
    }
        .fab_elm{
            background-color: #4791ff;
            border: 1px solid #fff;
            display: block;
            width: 100%;
            cursor: pointer;
            padding: 10px;
            margin: 10px 0;
            box-shadow: -5px 5px 5px #141414;
            color: #000000;
            font-weight: 700;
            border-radius: 10px 10px 0 10px;
        }






                        /* heading styles */
                        header{
                            height: 100px;
                            position: sticky;
                            top: 0;
                            left: 0;
                            background: linear-gradient(45deg,  #5a5a5a, #392e46);
                            border-bottom: 3px solid #585855;
                            color: #df75ff;
                            text-align: center;
                            padding: 20px 0;
                        }
                            header h1{
                                margin: 0 auto;
                                text-shadow: -4px 4px 10px #000;
                            }
                            header h2{
                                font-family: monospace;
                                text-transform: uppercase;
                                color: #000;
                            }

                                    /* toggle setup */
                                    .setup{
                                        display: block;
                                        width: 100%;
                                        height: 100vh;
                                        overflow-y: scroll;
                                    }
                                        .wrap{
                                            background-color: #342b36;
                                            position: absolute;
                                            top: 100px;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            padding: 10px 0;
                                        }

                                    /* video tags styles */
                                    .facetime{
                                        display: none;
                                        width: 100%;
                                        height: 100vh;
                                    }

                                                    /* incoming block */
                                                    #incoming{
                                                        display: block;
                                                        position: absolute;
                                                        bottom: 0;
                                                        width: 100%;
                                                        background-color: #131313;
                                                        z-index: 510;
                                                    }
                                                        .call_info{
                                                            padding: 10px;
                                                        }   
                                                            .call_info span{
                                                                font-family: monospace;
                                                                font-size: x-small;
                                                                color: #ffffff;
                                                                margin-bottom: 20px;
                                                            }
                                                            .call_info #eta_auto_ans{
                                                                font-size: larger;
                                                                color: red;
                                                                background-color: white; 
                                                                padding: 0 5px;
                                                            }
                                                            .call_info h3{
                                                                color: #ffee00;
                                                                text-transform: uppercase;
                                                                text-align: center;
                                                            }
                                                            .call_info p{
                                                                color: #00ffff;
                                                                text-align: center;
                                                            }
                                                        .call_btns{
                                                            padding: 10px;
                                                            width: 100%;
                                                        }
                                                            #incoming button{
                                                                display: inline-block;
                                                                width: 49%;
                                                                height: 40px;
                                                                border: 0;
                                                                font-size: larger;
                                                                font-family: monospace;
                                                                text-transform: uppercase;
                                                                letter-spacing: 2px;
                                                                font-weight: 900;
                                                                cursor: pointer;
                                                            }
                                                            #incoming button:first-child{
                                                                background-color: #ff1100;
                                                                color: #ffffff;
                                                            }
                                                            #incoming button:last-child{
                                                                background-color: #2bff00;
                                                                color: #000000;
                                                            }

                    /* videos */
                    #remote-video{
                        position: absolute;
                        background-color: #353535;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 70;
                    }
                    #local-video{
                        position: absolute;
                        top: 0;
                        right: 20px;
                        z-index: 70;
                        display: block;
                        width: 25%;
                        height: 25vh;
                        background-color: #292929;
                        box-shadow: 5px 5px 5px #000;
                    }
                    
                                                        /* call_controls */
                                                        .call_controls{
                                                            display: block;
                                                            position: absolute;
                                                            z-index: 75;
                                                            bottom: 0;
                                                            right: 0;
                                                            width: 60%;
                                                            padding: 20px;
                                                            font-weight: 900;
                                                            cursor: pointer;
                                                            font-family: monospace;
                                                            font-size: large;
                                                        }
                                                            .v_control_wrap{
                                                                display: none;
                                                                float: right;
                                                                margin-bottom: 50px;
                                                            }
                                                                .v_control_wrap button{
                                                                    width: 100%;
                                                                    padding: 10px;
                                                                    margin: 10px 0;
                                                                    border: 0;
                                                                    box-shadow: 5px 5px 5px #000;
                                                                }
                                                            .controll_toggler{
                                                                position: absolute;
                                                                bottom: 0;
                                                                right: 20px;
                                                                width: calc(100% - 40px);
                                                                min-height: 50px;
                                                                padding: 10px;
                                                                border: 0;
                                                                box-shadow: 5px 5px 5px #000;
                                                                background-color: #ff2e2e;
                                                                color: rgb(0, 0, 0);
                                                            }
                            
                                            
                /* root models */
                .model{
                    border-radius: 15px;
                    padding: 10px 10px 20px 10px;
                    margin: 0 5px 10px 10px;
                    box-shadow: -5px 5px 5px #000;
                }
                    .model h2{
                        display: inline-block;
                        font-family: monospace;
                        text-transform: uppercase;
                        padding: 0 0 20px 0;
                        text-shadow: -2px 2px 5px #000;
                    }

                .peer_info{
                    background-color: #122e53;
                    color: #428bf8;
                }

                .peer_caller{
                    background-color: #0a473a;
                    color: #2bffd1;
                }
                    .peer_caller_wrap{
                        width: 100%;
                    }
                    .peer_caller_wrap input, .peer_caller_wrap button{
                        width: 100%;
                        padding: 10px;
                        margin-bottom: 10px;
                    }



/* custom tabs */
.ct{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    z-index: 190;
    padding: 10px;
    background-color: #342b36;
    color: #c13cff;
}
    .ct h2{
        text-align: center;
        font-size: x-large;
        text-shadow: -2px 2px 5px #000;
    }
    .ct label{
        display: block;
        margin-top: 10px;
        color: #cfcfcf;
    }
    .ct textarea{
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .ct input{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .ct button{
        width: 100%;
        border: 0;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
        background-color: #2d0e3b;
        color: #c9c9c9;
        font-weight: 200;
        font-family: monospace;
        font-size: larger;
        cursor: pointer;
        text-transform: uppercase;
    }   
                .license{
                    padding: 0 90px 10px 0;
                }
                    .license p{
                        font-family: monospace;
                        color: #8ee647;
                    }
                        .license a:any-link{
                            font-family: monospace;
                            color: #fab92e;
                            text-decoration: none;
                        }

                                .peer_explorer_wrap li{
                                    background-color: #4d2964;
                                    list-style: none;
                                    margin-bottom: 15px;
                                    color: #ffffff;
                                    border: 1px solid #fff;
                                }
                                    .name{
                                        padding: 10px;
                                        background-color: #360f50;
                                        font-size: larger;
                                    }
                                    .lpt{
                                        font-size: small;
                                        float: right;
                                        font-family: monospace;
                                    }
                                    .bio{
                                        padding: 10px;
                                        font-size: medium;
                                    }
                                    .join_btn{
                                        cursor: pointer;
                                        background-color: #006b6b;
                                        text-transform: uppercase;
                                        text-align: center;
                                        padding: 5px;
                                    }
                                .explore_wait_timer{
                                    position: absolute;
                                    bottom: 0;
                                    background-color: #8a2be2;
                                    padding: 10px;
                                }
                                    .explore_wait_timer span{
                                        background-color: #e2d02b;
                                    }

#freez_time{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 200;
    display: none;
    width: 100%;
    height: 20px;
    background-color: #2dff9d;
    border: 1px solid #ffffff;
}
    #pass_time{
        display: block;
        height: 18px;
        overflow: hidden;
        text-align: center;
        font-size: small;
        padding: 2px 0;
        background-color: #fffb00;
        color: #000000;
        animation: 12s drain ease forwards;
    }
    @keyframes drain{
        from{
            width: 100%;
            filter: hue-rotate(0deg);
        }
        to{
            width: 0%;
            filter: hue-rotate(90deg);
        }
    }