*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
                                    /* toaster styles */
                                    #toast{
                                        position: fixed;
                                        display: block;
                                        top: 0;
                                        width: 100%;
                                        z-index: 100;
                                    }
                                    #toast p{
                                        transition: 500ms;
                                        width: calc(100% - 10px);
                                        margin: 0 5px;
                                        margin-bottom: 5px;
                                        padding: 5px;
                                        text-align: center;
                                        font-family: monospace;
                                        font-weight: 900;
                                        font-size: large;
                                        background-color: #000000b4;
                                        border-radius: 5px;
                                        box-shadow: 0 0 2px #fff;
                                    }
                                    #toast .log{
                                        color: #00ff00;
                                    }
                                    #toast .error{
                                        color: #ff0000;
                                    }
                                        #toast .error span:first-child{
                                            display: inline-block;
                                            width: calc(100% - 45px);
                                        }
                                        #toast .error span:last-child{
                                            display: inline-block;
                                            background-color: #661414;
                                            color: #afafaf;
                                            width: 40px;
                                            cursor: pointer;
                                        }

        /* heading styles */
        header{
            position: sticky;
            top: 0;
            left: 0;
            background: linear-gradient(45deg,  #970606, #334d44);
            border-bottom: 4px solid #141414;
            color: #e60f00;
            z-index: 99;
        }
            header h1{
                text-align: center;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin: 0 auto;
                padding: 10px 0 5px 0;
                text-shadow: -1px 1px #bd0d00,
                            -2px 2px #790800,
                            -4px 4px 10px #000;
            }

                    /* toggle setup */
                            .setup{
                                display: block;
                            }
                                .wrap{
                                    background-color: #6d6d6d;
                                    min-height: 100vh;
                                    padding: 5px;
                                }

                    /* video tags styles */
                            .facetime{
                                display: none;
                                width: 100%;
                                height: 100vh;
                            }
                                                #incoming{
                                                    display: block;
                                                    position: absolute;
                                                    width: 80%;
                                                    height: 80vh;
                                                    margin: 10vh 10%;
                                                    padding: 10px;
                                                    border-radius: 20px;
                                                    background-color: #252525;
                                                    box-shadow: 10px 10px 50px #000000;
                                                    text-align: center;
                                                    z-index: 100;
                                                }
                                               /*      .call_info{

                                                    }
                                                        .call_info h2{
                                                            
                                                        }
                                                        .call_info p{

                                                        } */
                                                    .call_btns{
                                                        position: absolute;
                                                        bottom: 0;
                                                        left: 0;
                                                        padding: 10px;
                                                        width: 100%;
                                                    }
                                                        #incoming button{
                                                            display: inline-block;
                                                            width: 49%;
                                                            height: 40px;
                                                            border: 0;
                                                            font-size: larger;
                                                            font-family: monospace;
                                                            text-transform: uppercase;
                                                            letter-spacing: 2px;
                                                            font-weight: 900;
                                                            cursor: pointer;
                                                        }
                                                        #incoming button:first-child{
                                                            background-color: #ff1100;
                                                            color: #ffffff;
                                                            border-radius: 0 0 0 15px;
                                                        }
                                                        #incoming button:last-child{
                                                            background-color: #2bff00;
                                                            color: #000000;
                                                            border-radius: 0 0 15px 0;
                                                        }
                                #remote-video{
                                    position: absolute;
                                    background-color: #000000;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                }
                                .local_vid_contain{
                                    position: absolute;
                                    background-color: #141414;
                                    width: 25%;
                                    top: 0;
                                    right: 0;
                                    z-index: 100;
                                }
                                    .vivid_toggler{
                                        display: block;
                                        width: 100%;
                                        height: 20px;
                                        background-color: #ffffff;
                                        cursor: pointer;
                                        text-align: center;
                                    }
                                    #local-video{
                                        display: block;
                                        width: 100%;
                                        height: 25vh;
                                    }
                                #chatbox{
                                    position: absolute;
                                    width: 100%;
                                    bottom: 0;
                                    z-index: 100;
                                }
                                    .messages{
                                        padding: 0 5px;
                                        max-height: 35vh;
                                        overflow-y: scroll;
                                    }
                                        .messages li{
                                            display: block;
                                            min-width: 60%;
                                            max-width: 90%;
                                            margin-bottom: 5px;
                                            font-family: cursive;
                                            overflow: hidden;
                                        }
                                        .recieved{
                                            background-color: #312d2d;
                                            color: #ffffff;
                                            padding: 5px;
                                            padding-left: 15px;
                                            border-radius: 10px 10px 10px 0;
                                        }
                                        .sended{
                                            background-color: #afafaf;
                                            color: #000;
                                            padding: 5px;
                                            padding-right: 15px;
                                            float: right;
                                            text-justify: kashida;
                                            border-radius: 10px 10px 0 10px;
                                        }
                                    .type_msg{
                                        width: 100%;
                                    }
                                        .type_msg input{
                                            width: calc(100% - 50px);
                                            min-height: 40px;
                                            border: 0;
                                        }
                                        .type_msg button{
                                            width: 45px;
                                            height: 40px;
                                            border: 0;
                                            font-size: larger;
                                            font-family: monospace;
                                            font-weight: 900;
                                            text-transform: uppercase;
                                            cursor: pointer;
                                        }

    /* universal style modules */
    .m{
        display: block;
        width: 98%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 5px;
        background-color: #302d2d;
        color: #ffffff;
        box-shadow: -2px 2px 2px #b9b9b9;
        overflow: hidden;
    }
        .m h2{
            text-align: center;
            background: linear-gradient(135deg, #ff000098, #406356 95%);
            padding: 5px 0;
            font-size: larger;
            font-family: monospace;
        }
        .m_wrap{
            margin-top: 5px;
        }
            .m li{
                display: block;
                list-style: none;
                background-color: #000413;
                margin-bottom: 5px;
                padding: 0 5px;
                cursor: pointer;
            }
                .m li h3{
                    color: #ffae00;
                    font-family: monospace;
                    font-size: large;
                    text-transform: uppercase;
                    padding-top: 5px;
                }
                .m li p{
                    color: #15ff00;
                    font-family: cursive;
                    font-size: small;
                    padding-left: 15px;
                    padding-bottom: 5px;
                }
        .m label{
            font-size: small;
            font-family: cursive;
        }
        .m input{
            width: 100%;
            height: 30px;
            margin-bottom: 5px;
        }
        .m button{
            width: 100%;
            height: 30px;
            margin-bottom: 5px;
        }