*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
}
                                    /* toaster styles */
                                    #toast{
                                        position: fixed;
                                        display: block;
                                        top: 0;
                                        width: 100%;
                                        z-index: 1000;
                                    }
                                    #toast p{
                                        transition: 500ms;
                                        width: 100%;
                                        margin-bottom: 5px;
                                        padding: 5px;
                                        text-align: center;
                                        font-family: monospace;
                                        font-weight: 700;
                                        font-size: large;
                                        background-color: #000000;
                                    }
                                    #toast .log{
                                        color: #00ffea;
                                        border-bottom: 2px solid #00ffea;
                                    }
                                    #toast .error{
                                        color: #ff0000;
                                        border-bottom: 2px solid #ff0000;
                                    }
                                        #toast .error span:first-child{
                                            font-family: monospace;
                                            display: inline-block;
                                            width: calc(100% - 45px);
                                        }
                                        #toast .error span:last-child{
                                            display: inline-block;
                                            background-color: #661414;
                                            color: #afafaf;
                                            width: 40px;
                                            cursor: pointer;
                                        }
                                   
/* splash screen styles */
.splash{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg,  #970606, #334d44);
    z-index: 200;
}
    .splash-container{
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .splash-container h2{
            font-size: 3em;
            color: #00ff95;
            text-shadow: -2px 2px #000;
        }
        .splash-container a:any-link{
            font-size: larger;
            font-weight: 900;
            font-family: monospace;
            color: #000000;
            text-decoration: none;
        }


/* fab */
.fab{
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 50%;
    padding: 20px;
    z-index: 200;
    text-align: right;
}
    .fab_switcher{
        float: right;
        width: 70px;
        height: 70px;
        background-color: #4791ff;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: -3px 3px #000;
    }
    .fab_elms{
        display: none;
        width: 100%;
        transition: 1s;
    }
        .fab_elm{
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            margin: 10px 0;
            box-shadow: -5px 5px #000;
        }
                        /* heading styles */
                        header{
                            position: sticky;
                            top: 0;
                            left: 0;
                            background: linear-gradient(45deg,  #970606, #334d44);
                            border-bottom: 4px solid #141414;
                            color: #e60f00;
                        }
                            header h1{
                                text-align: center;
                                margin: 0 auto;
                                padding: 20px 0 10px 0;
                                text-shadow: -1px 1px #bd0d00,
                                            -2px 2px #790800,
                                            -4px 4px 10px #000;
                            }

                                    /* toggle setup */
                                    .setup{
                                        display: block;
                                        width: 100%;
                                        height: 100vh;
                                        overflow-y: scroll;
                                    }
                                        .wrap{
                                            background-color: #6d6d6d;
                                            padding: 5px;
                                            min-height: 100vh;
                                        }

                                    /* video tags styles */
                                    .facetime{
                                        display: none;
                                        width: 100%;
                                        height: 100vh;
                                    }
                                                    #incoming{
                                                        display: block;
                                                        position: absolute;
                                                        bottom: 0;
                                                        width: 100%;
                                                        background-color: #131313;
                                                        z-index: 210;
                                                    }
                                                        .call_info{
                                                            padding: 10px;
                                                        }   
                                                            .call_info span{
                                                                font-family: monospace;
                                                                font-size: x-small;
                                                                color: #ffffff;
                                                                margin-bottom: 20px;
                                                            }
                                                            .call_info #eta_auto_ans{
                                                                font-size: larger;
                                                                color: red;
                                                                background-color: white; 
                                                                padding: 0 5px;
                                                            }
                                                            .call_info h3{
                                                                color: #ffee00;
                                                                text-transform: uppercase;
                                                                text-align: center;
                                                            }
                                                            .call_info p{
                                                                color: #00ffff;
                                                                text-align: center;
                                                            }
                                                        .call_btns{
                                                            padding: 10px;
                                                            width: 100%;
                                                        }
                                                            #incoming button{
                                                                display: inline-block;
                                                                width: 49%;
                                                                height: 40px;
                                                                border: 0;
                                                                font-size: larger;
                                                                font-family: monospace;
                                                                text-transform: uppercase;
                                                                letter-spacing: 2px;
                                                                font-weight: 900;
                                                                cursor: pointer;
                                                            }
                                                            #incoming button:first-child{
                                                                background-color: #ff1100;
                                                                color: #ffffff;
                                                            }
                                                            #incoming button:last-child{
                                                                background-color: #2bff00;
                                                                color: #000000;
                                                            }
                    #remote-video{
                        position: absolute;
                        background-color: #353535;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 70;
                    }
                    .local_vid_contain{
                        position: absolute;
                        background-color: #292929;
                        width: 25%;
                        top: 0;
                        right: 0;
                        box-shadow: -2px 2px #000;
                        z-index: 70;
                    }
                        .vid_toggler{
                            position: absolute;
                            bottom: 0px;
                            display: block;
                            width: 40px;
                            height: 40px;
                            padding: 8px;
                            background-color: #750000;
                            cursor: pointer;
                            text-align: center;
                            z-index: 80;
                        }
                        #local-video{
                            display: block;
                            width: 100%;
                            height: 25vh;
                        }
/* seperate the f screen btn to fab */
                /* call_controls */
                .call_controls{
                    display: block;
                    width: 50%;
                    position: absolute;
                    bottom: 0;
                    padding: 20px;
                    z-index: 75;
                }
                    .call_controls button{
                        width: 100%;
                        padding: 10px;
                        border: 0;
                        box-shadow: -5px 5px #000;
                    }
                    .endCall{
                        font-weight: 900;
                        cursor: pointer;
                        background-color: #ff2e2e;
                        color: #fff;
                        font-size: large;
                        font-family: monospace;
                    }

    /* universal setup modules */
    .m{
        display: block;
        width: 98%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #302d2d;
        color: #ffffff;
        box-shadow: -5px 5px #000000;
        overflow: hidden;
    }
        .m h2{
            text-align: center;
            background: linear-gradient(135deg, #ff000098, #406356 95%);
            padding: 5px 0;
            font-size: larger;
            font-family: monospace;
        }
        .m_wrap{
            margin-top: 5px;
        }
                        .m li{
                            display: block;
                            list-style: none;
                            background-color: #000413;
                            margin-bottom: 5px;
                            padding: 0 5px;
                            cursor: pointer;
                        }
                            .m li h3{
                                color: #ffae00;
                                font-family: monospace;
                                font-size: large;
                                text-transform: uppercase;
                                padding-top: 5px;
                            }
                            .m li p{
                                color: #15ff00;
                                font-size: small;
                                padding-left: 15px;
                                padding-bottom: 5px;
                            }
                    .m p{
                        padding: 5px 10px;
                    }
                    .m a:any-link{
                        font-size: larger;
                        font-weight: 900;
                        font-family: monospace;
                        color: #000000;
                        text-decoration: none;
                    }
                    .m label{
                        font-size: small;
                    }
                    .m input,
                    .m button{
                        width: 100%;
                        margin-bottom: 5px;
                        padding: 10px;
                    }
            .m #pidD{
                padding: 10px 0;
            }
            .m #pidD span{
                font-family: monospace;
            }